/* Global styles */

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.background-tint {
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
}

a {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.background-tint {
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
}

/* Header styles */

.header {
  padding: 91px 50px 92px 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  place-items: center;
  font-size: 18px;
  font-style: normal;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo{
  width: 138px;
}

.contacts {
  justify-self: end;
  max-width: 240px;
  word-wrap: break-word;
  display: grid;
  grid-template-rows: repeat(3, auto);
  line-height: 24px;
  font-style: normal;
}

/* Cover styles */

.cover {
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.cover__title {
  box-sizing: content-box;
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: start;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #fff;
}

.aligned-text {
  line-height: 115%;
}

.aligned-text_center {
  justify-self: center;
  line-height: 70%;
}

.aligned-text_right {
  justify-self: end;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  align-self: end;
  display: flex;
  justify-content: end;
  gap: 80px;
  font-size: 22px;
  line-height: 28px;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
}

.cover__desctiption-text {
  align-self: center;
  word-spacing: 17.5px;
}

.bet-button {
  min-height: 52px;
  min-width: 257px;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 22px;
  text-transform: uppercase;;
  color: #FFF;
}

/* Lots styles */

.lots {
  min-height: 579px;
  margin: 180px 50px 90px;
}

.lots__heading {
  min-height: 47px;
  box-sizing: content-box;
  padding-left: 40px;
  padding-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  padding-bottom: 31px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  flex: 1 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card {
  min-width: 430px;
  min-height: 450px;
  padding: 51px 40px 50px 40px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  color: #FFF;
  background-size: cover;
  background-position: center;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

/* About styles */

.about {
  min-height: 487px;
  margin: 180px 50px 90px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
}

.about__logo {
  height: 240px;
  width: 240px;
  margin: 0 95px;
  background-color: #000;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 101px 0;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.about__text {
  margin: 0 0 30px;
  font-size: 20px;
  line-height: 115%;
  font-style: normal;
}

.about__text:last-child {
  margin: 0;
}

/* Footer styles */

.footer {
  margin: 181px 50px 90px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-style: normal;
}

.contancts_justify_start {
  justify-self: start;
}

.footer__links-list {
  text-align: center;
  list-style-type: none;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  max-width: 240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: stretch;
  list-style-type: none;
}

.footer__social-list-item {
  width: 48px;
}
